*{
    margin: 0;
    padding: 0;
}

/*.contenedor{
    width:100%;
    height:100vh;
    background: aqua;
    opacity: 0.3;
}*/
#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #000000;
    left: -200px;
    transition: all 500ms linear;
}

#sidebar.active{
    left: 0;
}

#sidebar ul li{
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid white;
}
.eta{
    color: rgb(255, 254, 254);
    text-decoration: none;
}
.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
#sidebar .toggle-btn{
    position: absolute;
    left:230px;
    top: 20px;
    cursor: pointer;
}
#sidebar .toggle-btn span{
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    background:#9B9B9B;
    border: 1px solid #9B9B9B;
}

